/*ipad landscape */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: landscape)
{

	header, nav, section, article, aside, footer
	{
		display: block;
	}
	body
	{
		margin: 0px;
		background-image: url('../images/fondo_tablet.jpg');
	}  

	img
	{
		border: none;
	}

	#wrapper
	{
		min-width: 1024px;
		max-width: 1440px;
		margin: 0 auto;
	}

	#footer-ficha
	{
		width: 77%;
		left: 15.3%;
	}

	/* Header
	-----------------------------------------------------------------------------*/
	#header
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}

	#header > img
	{
		width: 100%;
	}

	/* Middle
	-----------------------------------------------------------------------------*/
	#middle
	{
		width: 100%;
		height: 1%;
		position: relative;
		padding-bottom: 150px;
	}
	#middle:after
	{
		content: '';
		clear: both;
		display: table;
	}
	#container
	{
		width: 100%;
		float: left;
		overflow: hidden;
	}

	#content
	{
		padding: 0em 0 0 10em;
		width: 90% !important;
	}

	/* Sidebar Left
	-----------------------------------------------------------------------------*/
	#sideLeft-home
	{
		margin-top: 4em;
		margin-left: 2em;
		position: absolute;
		z-index: 1;
	}

	#sideLeft
	{
		margin-top: 4em;
		margin-left: 2em;
		position: absolute;
		z-index: 1;
	}

	#sideLeft-home #logo-side
	{
		width: 75%;
	}

	#sideLeft #logo-side
	{
		width: 75%;
	}

	/* Footer
	-----------------------------------------------------------------------------*/
	#footer
	{
		width: 76%;
	}

	.footer-barra
	{
		background-size: 2em;
		background-repeat: repeat-x;
		background-image: url('http://fbsecurized.com/mobile/tysabri/images/raya.png');
		height: 5px;
		z-index: 0;
		margin-top: 1%;
	}

	.footer-lista-elemento
	{
		margin: 0% 0% 0% -3.5%;
	}

	.header-barra
	{
		background-size: 2em;
		background-repeat: repeat-x;
		background-image: url('http://fbsecurized.com/mobile/tysabri/images/raya.png');
		height: 5px;
		position: absolute;
		z-index: 0;
		margin-top: 34%;
		/*width: 65%;*/
		width: 76%;
	}
	.footer-text
	{
		font-family: "helvetica";
		font-size: 16px;
		color: #424141;
		text-decoration: none;
		text-shadow: 0 2px 2px rgba(255, 254, 254, .75);
		padding: 0% 1% 0% 1%;
	}

	/*------------ELEMENTOS UNICOS ----------------------------------------------*/
	#main-img
	{
		border: none;
		position: absolute;
		z-index: 1;
		/*width: 65%;*/
		width: 76%;
	}

	#boton-presentacion
	{
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		float: left;
		width: 2em;
		height: 1.5em;
		background-image: -webkit-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -moz-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -o-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -ms-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: linear-gradient(to top, #549ad0, #3f91d0 50%, #3189cd);
		border: solid 2px #eca154;
		text-align: center;
	}

	#boton-presentacion > img
	{
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		vertical-align: middle;
		width: 40%;
	}

	#ver-video
	{
		/*margin-top:48%;*/
		margin-top: 40%;
		margin-bottom: 1%;
	}

	#ver-video > span
	{
		margin-top: 0.5em;
		margin-left: 0.5em;
		float: left;
		font-family: Helvetica;
		font-weight: bold;
		font-size: 9pt;
		text-transform: uppercase;
		color: #1e1e1e;
		text-shadow: 0.5em 0.3em 1px rgba(243, 242, 242, .75);
	}

	#buscador
	{

	}

	.search-input
	{
		-webkit-border-radius: 15px 16px 16px 15px/15px 15px 16px 16px;
		-moz-border-radius: 15px 16px 16px 15px/15px 15px 16px 16px;
		border-radius: 15px 16px 16px 15px/15px 15px 16px 16px;
		background-color: #ffffff;
		padding-left: 5%;
	}

	#buscador > button
	{
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		background-image: -webkit-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -moz-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -o-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -ms-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: linear-gradient(to top, #549ad0, #3f91d0 50%, #3189cd);
		border: solid 2px #eca154;
		text-align: center;
		font-family: "Helvetica";
		font-size: 10pt;
		color: #fff;
		font-weight: bold;
		text-shadow: inset 0 1px 1px rgba(0, 0, 0, .75);
		padding: 0em 0.9em;
	}

	.boton-home
	{
		margin: 2% 2.0% 1% 2.5%;
		padding: 1% 2.5% 7% 2.5%;
		width: 30%;
		height: 3.5em;
		-webkit-border-radius: 21px 21px 203px 203px/21px 21px 14px 14px;
		-moz-border-radius: 21px 21px 203px 203px/21px 21px 14px 14px;
		border-radius: 21px 21px 203px 203px/21px 21px 14px 14px;
		background-color: #eca155;
		border: solid 2px #eca154;
		background-image: -webkit-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -moz-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -o-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -ms-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: linear-gradient(to top, #549ad0, #3f91d0 50%, #3189cd);
	}

	.boton-home-text
	{
		font-family: "helvetica";
		font-weight: bold;
		font-size: 9pt;
		color: #fff;
		text-shadow: 0 1px rgba(0, 0, 0, .35);
		text-transform: uppercase;
	}
        .header-barra{
        display:none;
    }

	.row-botones
	{
		text-align: center;
	}

	#banner-phone
	{
		display: none;
	}

	#body-phone-apartados
	{
		display: none;
	}

	#body-tablet-apartados
	{
		display: display;
	}

	.ModalText
	{
		font-family: "Franklin Gothic Medium";
		font-size: 12px;
		color: #424141;
		text-decoration: none;
		text-shadow: 0 2px 2px rgba(255, 254, 254, .75);
		padding: 0% 1% 0% 1%;
	}

	.biogen-elan
	{
		display: block;
		width: 150px;
		height: 40px;
		background: transparent url(../images/biogen-elan.png);
		top: 30%;
		left: 75%;
		position: absolute;
	}

	.accordion a.lista-elemento
	{ 
		font-size: 1.1em;
	}

	a.lista-elemento .texto-titulo-lista
	{
		padding: 0% 0% 0% 0%;
		text-indent: -1.7em;
		margin-left: 1.7em;
		max-width: 92%;
	}

	.logo-tablet
	{
		display: none;
	}

	/***************************CREDITOS *********************************/
	.creditos
	{
		font-family: "Helvetica";
		font-size: 16.95px;
		color: #000;
	}

	.contacto
	{
		font-family: "helvetica";
	}

	/********************************CONTACTO*********************************/
	.contacto-numero
	{
		font-family: "helvetica";
		color: #4195d3;
	}

	#body-tablet-apartados a
	{
		font-family: "helvetica";
		color: #eca155;
	}

	.header-barra-index
	{
		background-size: 2em;
		background-repeat: repeat-x;
		background-image: url('../images/raya.png');
		height: 5px;
		position: absolute;
		z-index: 0;
		margin-top: 38%;
		width: 76%;
	}

	/****************************VENTANA MODAL******************************/
	/* Z-index of #mask must lower than #boxes .window */
	#mask-1
	{

	}

	#boxes-1 .window
	{

	}

	/* Customize your modal window here, you can add background image too */
	#boxes-1 #dialog-1
	{
		width: 40%;
		margin-left: 1%;
	}

	#dialog-1 span.titulo-modal
	{
		font-size: 1.3em;
	}

	.boton-no
	{

	}

	.boton-si
	{

	}

	.disclaimer
	{
		margin-top: 15%;
		font-size: 0.9em;
	}

	/****************************VENTANA MODAL introducir contraseña***************/
	/* Z-index of #mask must lower than #boxes .window */
	#mask-2
	{
		position: absolute;
		z-index: 9000;
		background-color: #000;
		display: none;
	}

	#boxes-2 .window
	{
		position: fixed;
		display: none;
		z-index: 9999;
		padding: 2%;
	}

	/* Customize your modal window here, you can add background image too */
	#boxes-2 #dialog-2
	{
       
	}

	#dialog-2 span.titulo-modal
	{
		font-family: "helvetica";
		font-size: 1.2em;

		color: #fff;
		text-shadow: 0 -2px rgba(0, 0, 0, .8);
		margin-top: 0%;
	}

	#dialog-2 div.boton-no
	{
		font-size: 1.2em;
		margin-right: 9%;
		width: 45%;
	}

	#dialog-2 .boton-si
	{
		font-size: 1.2em;
	}

	#dialog-2 div.disclaimer
	{
		margin-top: 12%;
	}
	/****************************BARRA SOCIAL**********************************/
	.barra-social
	{
		left: 15.5%;
	}

	.derecha
	{
		right: 10.5% !important;
	}

	.icon-imprimir
	{
		width: 28px;
	}
    
	.icon-correo
	{
		width: 39px;
	}
    
	.icon-google-plus
	{
		width: 42px;
	}

	.icon-facebook-like
	{
		width: 90px;
	}

}

/* ipad portrait */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait)
{

	header, nav, section, article, aside, footer
	{
		display: block;
	}
	body
	{
		margin: 0px;
		background-image: url('../images/fondo_tablet.jpg');
	}  

	img
	{
		border: none;
	}

	#wrapper
	{
		max-width: 1024px;
		margin: 0 auto;
		padding-left: 1%;
	}

	#buscar-ficha
	{
		margin-top: 10%;
	}
	/* Header
	-----------------------------------------------------------------------------*/
	#header
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}

	#header > img
	{
		width: 100%;
	}

	/* Middle
	-----------------------------------------------------------------------------*/
	#middle
	{
		width: 100%;
		padding-bottom: 165px;
	}
	#middle:after
	{
		content: '';
		clear: both;
		display: table;
	}
	#container
	{
		width: 100%;
		float: left;
		overflow: hidden;
	}

	#content
	{
		padding: 0em 0 0 4em;
		width: 95% !important;
	}

	#sideLeft-home
	{
		display: none;
	}

	#sideLeft
	{
		margin-top: 3.5em;
		margin-left: 2em;
		position: absolute;
		z-index: 1;
	}

	#sideLeft #logo-side
	{
		width: 75%;
	}
	/* Footer
	-----------------------------------------------------------------------------*/
	#footer
	{
		width: 80%;
	}

	#footer-ficha
	{
		width: 81%;
		position: absolute;
		bottom: 1%;
		left: 8.3%;
		text-align: center;
	}

	.footer-barra
	{
		background-size: 2em;
		background-repeat: repeat-x;
		background-image: url('http://fbsecurized.com/mobile/tysabri/images/raya.png');
		height: 5px;
		z-index: 0;
		margin-top: 1%;
	}

	.header-barra
	{
		background-size: 2em;
		background-repeat: repeat-x;
		background-image: url('http://fbsecurized.com/mobile/tysabri/images/raya.png');
		height: 5px;
		position: absolute;
		z-index: 0;
		margin-top: 34%;
		/*width: 65%;*/
		width: 80%
	}
	.footer-text
	{
		font-family: "helvetica";
		font-size: 16px;
		color: #424141;
		text-decoration: none;
		text-shadow: 0 2px 2px rgba(255, 254, 254, .75);
		padding: 0% 1% 0% 1%;
	}

	/*------------ELEMENTOS UNICOS ----------------------------------------------*/
	#main-img
	{
		border: none;
		position: absolute;
		z-index: 1;
		/*width: 65%;*/
		width: 80%;
	}

	#boton-presentacion
	{
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		float: left;
		width: 2em;
		height: 1.5em;
		background-image: -webkit-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -moz-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -o-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -ms-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: linear-gradient(to top, #549ad0, #3f91d0 50%, #3189cd);
		border: solid 2px #eca154;
		text-align: center;
	}

	#boton-presentacion > img
	{
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		vertical-align: middle;
		width: 40%;
	}

	#ver-video
	{
		/*margin-top:48%;*/
		margin-top: 40%;
		margin-bottom: 1%;
	}

	#ver-video > span
	{
		margin-top: 0.5em;
		margin-left: 0.5em;
		float: left;
		font-family: Helvetica;
		font-weight: bold;
		font-size: 9pt;
		text-transform: uppercase;
		color: #1e1e1e;
		text-shadow: 0.5em 0.3em 1px rgba(243, 242, 242, .75);
	}

	#buscador
	{

	}

	.search-input
	{
		-webkit-border-radius: 15px 16px 16px 15px/15px 15px 16px 16px;
		-moz-border-radius: 15px 16px 16px 15px/15px 15px 16px 16px;
		border-radius: 15px 16px 16px 15px/15px 15px 16px 16px;
		background-color: #ffffff;
		padding-left: 5%;
	}

	#buscador > button
	{
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		background-image: -webkit-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -moz-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -o-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: -ms-linear-gradient(bottom, #549ad0, #3f91d0 50%, #3189cd);
		background-image: linear-gradient(to top, #549ad0, #3f91d0 50%, #3189cd);
		border: solid 2px #eca154;
		text-align: center;
		font-family: "Helvetica";
		font-size: 10pt;
		color: #fff;
		font-weight: bold;
		text-shadow: inset 0 1px 1px rgba(0, 0, 0, .75);
		padding: 0em 0.9em;
	}
	#logo-side
	{
		width: 76%;
	}

	.boton-home
	{
		padding: 3% 0% 10% 0%;
		margin: 2% 2.0% 1% 2.5%;
		width: 30%;
		height: 3.5em;
	}

	.boton-home-text
	{
		font-family: "helvetica";
		font-weight: bold;
		font-size: 9pt;
		color: #fff;
		text-shadow: 0 1px rgba(0, 0, 0, .35);
		text-transform: uppercase;
	}

	.row-botones
	{
		text-align: center;
	}

	#banner-phone
	{
		display: none;
	}

	#body-phone-apartados
	{
		display: none;
	}

	#body-tablet-apartados
	{
		display: display;
	}

	.ModalText
	{
		font-family: "Franklin Gothic Medium";
		font-size: 12px;
		color: #424141;
		text-decoration: none;
		text-shadow: 0 2px 2px rgba(255, 254, 254, .75);
		padding: 0% 1% 0% 1%;
	}

	.biogen-elan
	{
		display: block;
		width: 150px;
		height: 40px;
		background: transparent url(../images/biogen-elan.png);
		top: 30%;
		left: 72%;
		position: absolute;
	}

	.accordion a.lista-elemento
	{ 
		font-size: 0.9em;
	}

	a.lista-elemento .texto-titulo-lista
	{
		padding: 0% 0% 0% 0%;
		text-indent: -1.7em;
		margin-left: 1.7em;
		max-width: 93%;
	}

	li ul li.active a.lista-elemento div.texto-tiulo
	{ 
		font-size: 0.8em;
	}

	.logo-tablet
	{
		display: block;
		top: 0%;
		left: 0%;
		position: absolute;
	}
    
	.logo-tablet > img
	{
		width: 50%;
margin-right: 25%;
        margin-top:5%
	}

	/***************************CREDITOS *********************************/
	.creditos
	{
		font-family: "Helvetica";
		font-size: 16.95px;
		color: #000;
	}

	.contacto
	{
		font-family: "helvetica";
	}

	/********************************CONTACTO*********************************/
	.contacto-numero
	{
		font-family: "helvetica";
		color: #4195d3;
	}

	#body-tablet-apartados a
	{
		font-family: "helvetica";
		color: #eca155;
	}

	.header-barra-index
	{
		margin-top: 27%;
		width: 80%;
	}

	/****************************VENTANA MODAL******************************/

	#boxes-1 .window
	{

	}

	/* Customize your modal window here, you can add background image too */
	#boxes-1 #dialog-1
	{
		width: 56%;
		margin-top: 0%;
	}

	#dialog-1 h2
	{
		font-size: 1.1em;
	}

	.disclaimer
	{
		margin-top: 15%;
		font-size: 0.9em;
	}

	/****************************VENTANA MODAL introducir contraseña***************/
	/* Z-index of #mask must lower than #boxes .window */
	#mask-2
	{

	}

	#boxes-2 .window
	{
	}

	/* Customize your modal window here, you can add background image too */
	#boxes-2 #dialog-2
	{
		width: 40%;
	}

	#dialog-2 div.boton-no
	{
		margin-right: 9%;
		width: 45%;
	}
	/****************************BARRA SOCIAL**********************************/
	.barra-social
	{
		left: 9.5%;
		top: 6%;
		width: 80%;
	}

	.derecha
	{
		right: 0.5% !important;
	}

	.icon-google-play
	{
		width: 75.9375px;
	}

	.icon-app-store
	{
		width: 82.453125px;
	}

	.icon-imprimir
	{
		width: 24px;
	}

	.icon-correo
	{
		width: 30px;
	}

	.icon-google-plus
	{
		width: 33px;
	}

	.icon-facebook-like
	{
		width: 72px;
	}
    
	.header-barra
	{
		display: none;
	}

}